@media only screen and (max-width: 1024px){
    .desktop-navigation{
      display: none;
    }
    }
    
   
    .circle-container-1{
      animation: blink 7s linear infinite;

    }

    @keyframes blink {
      0%{
        background: tomato;
      }
      50%{
        background: brown;
      }
      100%{
        background: blue;
      }
    }